.main{
    background : #1e222b;
    min-height : 100vh;
}

.logo{
    width :45px;
    height :45px;
}

.navbar{
    background : #262b36 !important;
}

.main nav a,.main .card a,.main h5 a{
    color : #706a5e !important;
}

.custom-btn{
    color : white !important;
}

.img-cover{
    background-size : contain;
    min-height: 125px;
}

.card{
    background : #1e222b;
    border : none !important;
    position : relative;
}

.checked {
    color: orange;
    position: absolute;
    right: 2px;
    background: #000111;
    bottom: 25px;
    padding: 2px;
    border-radius: 2px;
    font-size: 16px;
}


/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* End of Star Rating */
